@page "/Question/New"

@using QA.Web.Client.ViewModels
@using QA.Domain.Entities
@using System.Linq
@using Markdig

@inject HttpClient Http;
@inject NavigationManager Navigation;
@inject IJSRuntime JsRuntime;


@if (ViewModel != null)
{
    <h3>New Question</h3>

    <div class="form-group">
        <label>Tile</label>
        <input type="text" class="form-control" placeholder="" @bind="ViewModel.Title" />

        <label>Tags</label>
        <input type="text" id="tags" value="One,Two,Three" />
    </div>

    <MardownEditor OnTextChanged="@ViewModel.SetQuestionText" />

    <button class="btn btn-primary float-right" @onclick="ViewModel.PostQuestion">Post</button>
}

@code{

    public NewQuestionViewModel ViewModel;

    protected override void OnInitialized()
    {
        ViewModel = new NewQuestionViewModel(Http, Navigation);        
    }    

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JsRuntime.InvokeVoidAsync("setAsTagsInput", "tags");
    }
}